 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Habilities</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-rust-original"></i>
      <p>What I have the most knowledge about is hacking, I know how to use many tools such as Nmap, Burpsuite, Wireshark, aircrack and many more tools, in terms of programming I know a lot of Python and I usually create scripts, some are on my github page, now I'm learning a bit of c++.</p>
    </div>
 
